<div>
  <ul>
    <% @files.each do |file| %>
      <li>
        <a href="/<%= file %>"><%= file %></a>
        <a href="/<%= file %>/edit">Edit</a>
        <form class="inline" method="post" action="/<%= file %>/delete">
          <button type="submit">delete</button>
        </form>
      </li>
    <% end %>
  </ul>
  <a href='/document/new'>New Document</a>

  <% if logged_in? %>
    <form action='/users/signout' method='post'>
      <button type='submit'>Sign out</button>
    </form>
  <% else %>
    <form action='/users/signin' method='get'>
      <button type='submit'>Sign in</button>
    </form>
  <% end %>
</div>
