<form action='/document/new' method='post'>
  <label for='filename'>Add a new document:</label></br>
  <input type='text' id='filename' name='filename' />
  <button type='submit'>Create Document</button>
</form>
